<mat-card>
  <mat-card-header>
    <mat-card-title>Neuen Kunden anlegen</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" role="form">
      <div class="form-group row has-warning mb-4" *ngIf="showWarning">
        <div class="col col-12 form-control-feedback">
          <span class="alert alert-warning">
            <i class="material-icons">warning</i>
            <strong class="text-help ml-1">
              Wenn Sie die Seite jetzt verlassen, verlieren Sie Ihre
              eingegebenen Daten.
            </strong>
          </span>
        </div>
      </div>
      <hs-create-nachname [form]="form"></hs-create-nachname>
      <hs-create-email [form]="form"></hs-create-email>
      <hs-create-kategorie [form]="form"></hs-create-kategorie>
      <hs-create-newsletter [form]="form"></hs-create-newsletter>
      <hs-create-geburtsdatum [form]="form"></hs-create-geburtsdatum>
      <hs-create-geschlecht [form]="form"></hs-create-geschlecht>
      <hs-create-interessen [form]="form"></hs-create-interessen>
      <hs-create-familienstand [form]="form"></hs-create-familienstand>
      <hs-create-user [form]="form"></hs-create-user>
      <hs-create-adresse [form]="form"></hs-create-adresse>
      <hs-create-homepage [form]="form"></hs-create-homepage>

      <div>
        <button mat-raised-button color="accent"
          type="submit"
          (click)="onSave()"
          [disabled]="form.invalid">
            <mat-icon>check</mat-icon>
            <span>Kunden anlegen</span>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<!-- 
<div>
  <hs-error-message [text]="errorMsg"></hs-error-message>
</div> -->
