<hs-waiting *ngIf="waiting; else details"></hs-waiting>

<ng-template #details>
  <section *ngIf="kunde; else showErrorMsg">
    <mat-toolbar color="primary">
      <span *ngIf="kunde; else showErrorMsg">Kunde {{ kunde._id }}:</span>
    </mat-toolbar>
    <mat-tab-group>
      <mat-tab label="Stammdaten">
        <hs-details-stammdaten [kunde]="kunde"></hs-details-stammdaten>
      </mat-tab>
      <mat-tab label="Interessen">Interessen</mat-tab>
    </mat-tab-group>
  </section>
  <ng-template #showErrorMsg>
    <hs-error-message [text]="errorMsg"></hs-error-message>
  </ng-template>
</ng-template>
