<div>
  <span>
    <label for="interessenInput" class="interessen-label">Interessen: </label>
  </span>
  <div class="interessen-div">
    <mat-checkbox
      class="checkbox-margin"
      id="reisen"
      [(ngModel)]="reisen"
      name="reisen"
    >
      Reisen</mat-checkbox
    >
  </div>
  <div class="interessen-div">
    <mat-checkbox
      class="checkbox-margin"
      id="lesen"
      [(ngModel)]="lesen"
      name="lesen"
    >
      Lesen</mat-checkbox
    >
  </div>
  <div class="interessen-div">
    <mat-checkbox
      class="checkbox-margin"
      id="sport"
      [(ngModel)]="sport"
      name="sport"
    >
      Sport</mat-checkbox
    >
  </div>
</div>
